* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-family: 'Roboto', sans-serif;
  font-size: 62.5%;
}
header {
  background: #F50057;
  color: #fff;
  width: 100vw;
  box-shadow: 0px 4px 4px #CCCBCB;
}
header .header-container {
  display: flex;
  height: 65px;
  max-width: 1100px;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
}
header .search-box {
  position: relative;
}
header .search-box span i {
  position: absolute;
  top: 11px;
  left: 16px;
}
header .search-box .search-text {
  border: none;
  border-radius: 3px;
  text-align: center;
  padding: 12px;
  height: 30px;
  width: 180px;
  background: #F83E71;
  font-size: 1.4rem;
}
::placeholder {
  color: #FC7999;
}
.header-links {
  margin-right: 70px;
}
.header-links a {
  color: #fff;
  font-size: 1.6rem;
}
.header-links :hover {
  cursor: pointer;
  text-decoration: none;
}
.header-links .first {
  padding-right: 5px;
}
.workout-btn {
  display: block;
  margin: 23px auto;
  border: none;
  background: #F50057;
  color: white;
  padding: 15px;
  border-radius: 19px;
  width: 150px;
  z-index: 1;
  box-shadow: 0px 4px 4px #CCCBCB;
  font-size: 1.2rem;
}
.workout-btn span {
  padding-right: 10px;
}
.content-container {
  max-width: 960px;
  margin: 0 auto;
  padding: 3.2rem;
}
.content-container h2 {
  text-align: center;
}
.content-container p {
  font-size: 1.6rem;
  line-height: 1.8;
}
