* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
    font-size: 62.5%;
}

header {
    background: #F50057;
    color: #fff;
    width: 100vw;
    box-shadow: 0px 4px 4px #CCCBCB;

    h1 {
        font-size: bold;
    }

    .header-container {
        display: flex;
        height: 65px;
        max-width: 1100px;
        align-items: center;
        justify-content: space-between;
        margin: 0 auto;
    }

    li {
        //  TDB: Might implement sign-in / menu, etc. 
    }

    .search-box .search-text{
        border: none;
        border-radius: 3px;
        text-align: center;
        padding: 12px;
        height: 30px;
        width: 180px;
    }
}

button {
    display: block;
    margin: 23px auto;
    border: none;
    background: #F50057;
    color: white;
    padding: 15px;
    border-radius: 19px;
    width: 150px;
    z-index: 1;
    box-shadow: 0px 4px 4px #CCCBCB;

    span {
        padding-right: 5px;
    }
}




